@model DotNetPetClinic.Models.Pet

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Pet</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">BirthDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BirthDate)
    </div>

    <div class="display-label">PetTypeId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PetTypeId)
    </div>

    <div class="display-label">OwnerId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OwnerId)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
